{% extends "base.html" %}

{% block title %}
Log-In
{% endblock %}

{% block content %}
<h1>Log In</h1>
{% if message %}
  {{ message }}
{% endif %}
{% if form %}
<form action="{{url_for('login')}}" method="POST" style="padding:5px;">
  {{ form.email.label }}:
    <br />{{ form.email }}
    {% if form.email.errors %}
    <br />
        {% for error in form.email.errors %}
        <b id="error" style="color:tomato;">{{ error }}</b>
        {% endfor %}
    {% endif %}
  <br />
  {{ form.password.label }}<br />
  {{ form.password }}
  {% if form.password.errors %}
  <br />
      {% for error in form.password.errors %}
      <b id="error" style="color:tomato;">{{ error }}</b>
      {% endfor %}
  {% endif %}
  <br />
  {{ form.csrf_token }}
  {{ form.submit }}
</form>



{% endif %}
{% endblock %}
